.getting-started-with1 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.getting-started-with-iotlogiq-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.customer-dashboard {
  position: relative;
  line-height: 20px;
}
.this-tutorials-goal1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 35px;
  text-align: left;
}
.customer-dashboard-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  text-align: center;
  font-size: var(--font-size-9xl);
}
.frame-child9 {
  position: relative;
  width: 650px;
  height: 366px;
  object-fit: cover;
}
.frame-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map-panel {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.map-panel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.located-on-the {
  flex: 1;
  position: relative;
  line-height: 35px;
}
.frame-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-parent10 {
  align-self: stretch;
  background-color: var(--color-white);
  gap: var(--gap-27xl);
}
.area-and-assets-floor-plan-pan-wrapper,
.frame-parent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.located-on-the-bottom-right-co-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.markers-in-this {
  position: relative;
  line-height: 35px;
  display: inline-block;
  width: 757px;
}
.additional-markers-can {
  align-self: stretch;
  position: relative;
  line-height: 35px;
}
.markers-in-this-section-can-be-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.frame-parent12,
.frame-parent13 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame-parent13 {
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.frame-parent12 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-27xl);
}
.device-panel {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.device-panel-wrapper {
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.image-3-icon {
  position: relative;
  width: 323px;
  height: 242px;
  object-fit: cover;
}
.you-can-access-all-information-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.depending-on-the2 {
  align-self: stretch;
  position: relative;
  line-height: 35px;
}
.depending-on-the-device-profil-container,
.frame-wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.depending-on-the-device-profil-container {
  background-color: var(--color-white);
}
.frame-wrapper7 {
  padding: 0 var(--padding-78xl);
}
.image-10-icon {
  position: relative;
  width: 385px;
  height: 220px;
  object-fit: cover;
}
.frame-wrapper8 {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: flex-start;
}
.frame-parent14,
.frame-parent9,
.frame-root,
.frame-wrapper8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent14 {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: flex-start;
  gap: var(--gap-27xl);
}
.frame-parent9,
.frame-root {
  overflow: hidden;
}
.frame-parent9 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-20xl) 0;
  gap: var(--gap-27xl);
  text-align: left;
  font-size: var(--font-size-xl);
}
.frame-root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  align-items: center;
  padding: var(--padding-52xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 960px) {
  .customer-dashboard {
    font-size: var(--font-size-9xl);
  }
  .located-on-the {
    flex: unset;
    align-self: stretch;
  }
  .frame-parent11 {
    flex-direction: column;
  }
  .frame-parent10,
  .frame-parent11,
  .located-on-the-bottom-right-co-parent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .located-on-the-bottom-right-co-parent {
    flex-direction: column;
  }
  .markers-in-this-section-can-be-parent {
    flex: unset;
    align-self: stretch;
  }
  .frame-parent13 {
    flex-direction: column-reverse;
  }
  .frame-parent12,
  .frame-parent13 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depending-on-the-device-profil-container,
  .you-can-access-all-information-parent {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depending-on-the-device-profil-container {
    flex-direction: column-reverse;
  }
  .frame-wrapper8 {
    flex-direction: column-reverse;
  }
  .frame-parent14,
  .frame-parent9,
  .frame-root,
  .frame-wrapper8 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-root {
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .getting-started-with1 {
    font-size: var(--font-size-xl);
  }
  .customer-dashboard {
    font-size: var(--font-size-base);
  }
  .located-on-the,
  .this-tutorials-goal1 {
    font-size: var(--font-size-xs);
  }
  .located-on-the {
    line-height: 15px;
  }
  .frame-parent11 {
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-parent10 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .located-on-the-bottom-right-co-parent {
    gap: var(--gap-xl);
  }
  .frame-parent13,
  .located-on-the-bottom-right-co-parent {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-parent12 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .you-can-access-all-information-parent {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .depending-on-the2 {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }
  .depending-on-the-device-profil-container {
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-parent14,
  .frame-wrapper8 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent9,
  .frame-root {
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .frame-parent9 {
    align-items: flex-start;
    padding-left: var(--padding-8xs);
    padding-right: var(--padding-8xs);
  }
  .frame-root {
    align-items: center;
    padding: var(--padding-21xl) var(--padding-8xs);
  }
}
@media screen and (max-width: 425px) {
  .getting-started-with1 {
    font-size: var(--font-size-xl);
  }
  .customer-dashboard {
    font-size: var(--font-size-base);
  }
  .this-tutorials-goal1 {
    font-size: var(--font-size-xs);
  }
  .map-panel {
    font-size: var(--font-size-base);
  }
  .located-on-the {
    font-size: var(--font-size-xs);
  }
  .frame-parent11,
  .frame-parent13,
  .located-on-the-bottom-right-co-parent,
  .you-can-access-all-information-parent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .depending-on-the2 {
    font-size: var(--font-size-xs);
  }
  .depending-on-the-device-profil-container {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-parent9 {
    padding-left: var(--padding-8xs);
    padding-right: var(--padding-8xs);
    box-sizing: border-box;
  }
  .frame-root {
    padding: var(--padding-21xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 620px) {
  .customer-dashboard,
  .getting-started-with1 {
    font-size: var(--font-size-xl);
  }
  .this-tutorials-goal1 {
    font-size: var(--font-size-lg);
  }
}
@media screen and (max-width: 800px) {
  .getting-started-with1 {
    font-size: var(--font-size-5xl);
  }
  .customer-dashboard {
    font-size: var(--font-size-3xl);
  }
  .this-tutorials-goal1 {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .frame-child9 {
    width: 323px;
    height: 182px;
  }
  .additional-markers-can,
  .depending-on-the2,
  .located-on-the,
  .markers-in-this {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .image-10-icon {
    width: 323px;
    height: 182px;
  }
}
@media screen and (min-width: 3000px) {
  .frame-root {
    padding-left: var(--padding-1181xl);
    padding-right: var(--padding-1181xl);
    box-sizing: border-box;
  }
}
