.getting-started-with {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.getting-started-with-iotlogiq-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.administrator-dashboard {
  position: relative;
  line-height: 20px;
}
.this-tutorials-goal {
  margin: 0;
}
.create-customers-locations {
  margin-bottom: 0;
}
.create-customers-locations-a {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.this-tutorials-goal-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-inherit);
  line-height: 35px;
  font-family: var(--font-inherit);
  text-align: left;
}
.administrator-dashboard-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  text-align: center;
  font-size: var(--font-size-9xl);
}
.this-dashboard-can {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.this-dashboard-can-only-be-acc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.in-the-top-container {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.in-the-top-section-of-the-dash-wrapper {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-child {
  position: relative;
  width: 650px;
  height: 366px;
  object-fit: cover;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-inner {
  position: relative;
  width: 323px;
  height: 242px;
  object-fit: cover;
}
.you-can-click {
  flex: 1;
  position: relative;
  line-height: 30px;
}
.frame-parent1 {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.create-a-new-device-wrapper,
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  background-color: var(--color-white);
  gap: var(--gap-27xl);
}
.create-a-new-device-wrapper {
  width: 384px;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.you-can-start-creating-a-new-d-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-icon {
  position: relative;
  width: 323px;
  height: 242px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-group,
.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.frame-group {
  overflow: hidden;
  padding: var(--padding-20xl) 0;
}
.assign-the-device {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 859px;
}
.image-6-icon {
  position: relative;
  width: 360.5px;
  height: 242px;
  object-fit: cover;
}
.image-1-parent,
.to-assign-a-device-click-on-t-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.image-1-parent {
  background-color: var(--color-white);
}
.log-in {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.frame-wrapper1,
.log-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper1 {
  align-self: stretch;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.once-logged-in {
  align-self: stretch;
  position: relative;
  line-height: 35px;
}
.frame-parent,
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-wrapper4 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-78xl);
}
.frame-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-52xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 960px) {
  .administrator-dashboard {
    font-size: var(--font-size-9xl);
  }
  .in-the-top-section-of-the-dash-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .you-can-click {
    flex: unset;
    align-self: stretch;
  }
  .frame-parent1 {
    flex-direction: column-reverse;
  }
  .frame-container,
  .frame-parent1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .you-can-start-creating-a-new-d-parent {
    flex-direction: column;
  }
  .frame-group,
  .frame-parent2,
  .you-can-start-creating-a-new-d-parent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-1-parent,
  .to-assign-a-device-click-on-t-parent {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-1-parent {
    flex-direction: column-reverse;
  }
  .frame-parent {
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .getting-started-with {
    font-size: var(--font-size-xl);
  }
  .administrator-dashboard {
    font-size: var(--font-size-base);
  }
  .in-the-top-container,
  .this-tutorials-goal-container {
    font-size: var(--font-size-xs);
  }
  .in-the-top-container {
    line-height: 15px;
  }
  .in-the-top-section-of-the-dash-wrapper {
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .you-can-click {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }
  .frame-parent1 {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-container {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .you-can-start-creating-a-new-d-parent {
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-group,
  .frame-parent2 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-group {
    padding-left: var(--padding-8xs);
    padding-right: var(--padding-8xs);
    box-sizing: border-box;
  }
  .image-1-parent,
  .to-assign-a-device-click-on-t-parent {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .image-1-parent {
    gap: var(--gap-xl);
  }
  .once-logged-in {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }
  .frame-parent {
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-21xl) var(--padding-8xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 425px) {
  .getting-started-with {
    font-size: var(--font-size-xl);
  }
  .administrator-dashboard {
    font-size: var(--font-size-base);
  }
  .this-tutorials-goal-container {
    font-size: var(--font-size-xs);
    line-height: 30px;
  }
  .this-dashboard-can {
    font-size: var(--font-size-base);
  }
  .in-the-top-container {
    font-size: var(--font-size-xs);
  }
  .in-the-top-section-of-the-dash-wrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .you-can-click {
    font-size: var(--font-size-xs);
  }
  .frame-parent1,
  .you-can-start-creating-a-new-d-parent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-group {
    padding-left: var(--padding-8xs);
    padding-right: var(--padding-8xs);
    box-sizing: border-box;
  }
  .image-1-parent,
  .to-assign-a-device-click-on-t-parent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .once-logged-in {
    font-size: var(--font-size-xs);
    line-height: 30px;
  }
  .frame-parent {
    padding: var(--padding-21xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 620px) {
  .administrator-dashboard,
  .getting-started-with {
    font-size: var(--font-size-xl);
  }
  .this-tutorials-goal-container {
    font-size: var(--font-size-lg);
  }
}
@media screen and (max-width: 800px) {
  .getting-started-with {
    font-size: var(--font-size-5xl);
  }
  .administrator-dashboard {
    font-size: var(--font-size-3xl);
  }
  .in-the-top-container,
  .this-tutorials-goal-container {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .frame-child {
    width: 323px;
    height: 182px;
  }
  .once-logged-in,
  .you-can-click {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
}
@media screen and (min-width: 3000px) {
  .frame-parent {
    padding-left: var(--padding-1181xl);
    padding-right: var(--padding-1181xl);
    box-sizing: border-box;
  }
}
