.getting-started-with {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.getting-started-with-iotlogiq-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.administrator-dashboard {
  position: relative;
  line-height: 20px;
}
.the-goal-of {
  margin: 0;
}
.create-customers-locations {
  margin-bottom: 0;
}
.create-customers-locations-a {
  margin: 0;
  padding-left: 27px;
}
.the-goal-of-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-inherit);
  line-height: 35px;
  font-family: var(--font-inherit);
  text-align: left;
}
.administrator-dashboard-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  text-align: center;
  font-size: var(--font-size-9xl);
}
.this-dashboard-is {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.this-dashboard-is-only-accesib-wrapper {
  align-self: stretch;
}
.select-desired-company-locati-wrapper,
.this-dashboard-is-only-accesib-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.on-the-top-container {
  flex: 1;
  position: relative;
  line-height: 30px;
}
.frame-child {
  position: relative;
  width: 323px;
  height: 242px;
  object-fit: cover;
}
.frame-container,
.frame-div,
.on-the-top-of-the-panel-youll-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-container,
.frame-div {
  background-color: var(--color-white);
}
.frame-container {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-27xl);
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.create-a-new {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 859px;
}
.create-a-new-device-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.frame-inner {
  position: relative;
  width: 323px;
  height: 242px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.add-edit-and-delete-buttons-a-parent,
.frame-parent2,
.you-can-start-the-device-creat-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.add-edit-and-delete-buttons-a-parent,
.frame-parent2 {
  background-color: var(--color-white);
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.assign-the-device {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 859px;
}
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.image-1-icon {
  position: relative;
  width: 323px;
  height: 242px;
  object-fit: cover;
}
.complete-the-user-information-parent,
.frame-parent3,
.this-will-open-the-following-p-parent {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
}
.this-will-open-the-following-p-parent {
  flex-direction: row;
  align-items: center;
  padding: 0 36px;
  gap: var(--gap-xl);
}
.complete-the-user-information-parent,
.frame-parent3 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-27xl);
}
.complete-the-user-information-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.log-in {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.once-logged-in {
  align-self: stretch;
  position: relative;
  line-height: 35px;
}
.once-logged-in-youll-be-redir-wrapper {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-child7 {
  position: relative;
  width: 650px;
  height: 366px;
  object-fit: cover;
}
.frame-wrapper1,
.frame-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-wrapper3 {
  padding: 0 97px;
}
.frame-group,
.frame-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  align-items: flex-start;
  padding: 39px 0;
  gap: var(--gap-27xl);
  text-align: left;
  font-size: var(--font-size-xl);
}
.frame-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  align-items: center;
  padding: 71px 50px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: 36px;
  color: var(--color-black);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 960px) {
  .administrator-dashboard {
    font-size: var(--font-size-9xl);
  }
  .on-the-top-container {
    flex: unset;
    align-self: stretch;
  }
  .on-the-top-of-the-panel-youll-parent {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div {
    flex-direction: column-reverse;
  }
  .frame-container,
  .frame-div {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent2,
  .you-can-start-the-device-creat-parent {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent2 {
    flex-direction: column-reverse;
  }
  .add-edit-and-delete-buttons-a-parent {
    flex-direction: column;
  }
  .add-edit-and-delete-buttons-a-parent,
  .frame-parent1,
  .frame-parent4 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent4 {
    flex-direction: column;
  }
  .this-will-open-the-following-p-parent {
    flex-direction: column-reverse;
  }
  .frame-parent3,
  .this-will-open-the-following-p-parent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .complete-the-user-information-parent,
  .once-logged-in-youll-be-redir-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-group,
  .frame-parent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .getting-started-with {
    font-size: var(--font-size-xl);
  }
  .administrator-dashboard {
    font-size: var(--font-size-base);
  }
  .the-goal-of-container {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }
  .this-dashboard-is-only-accesib-wrapper {
    width: auto;
    align-self: unset;
  }
  .on-the-top-container {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }
  .frame-child {
    align-self: stretch;
    width: auto;
  }
  .on-the-top-of-the-panel-youll-parent {
    gap: var(--gap-xl);
  }
  .frame-div,
  .on-the-top-of-the-panel-youll-parent {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-container {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .you-can-start-the-device-creat-parent {
    gap: var(--gap-xl);
  }
  .add-edit-and-delete-buttons-a-parent,
  .frame-parent2,
  .you-can-start-the-device-creat-parent {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .add-edit-and-delete-buttons-a-parent {
    gap: var(--gap-xl);
  }
  .frame-parent1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent4,
  .this-will-open-the-following-p-parent {
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .this-will-open-the-following-p-parent {
    gap: var(--gap-xl);
  }
  .frame-parent3 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .complete-the-user-information-parent {
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .once-logged-in {
    font-size: var(--font-size-xs);
    line-height: 15px;
  }
  .once-logged-in-youll-be-redir-wrapper {
    gap: var(--gap-xl);
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .frame-group,
  .frame-parent,
  .once-logged-in-youll-be-redir-wrapper {
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .frame-group {
    align-items: flex-start;
    padding-left: var(--padding-8xs);
    padding-right: var(--padding-8xs);
  }
  .frame-parent {
    align-items: center;
    padding: var(--padding-21xl) var(--padding-8xs);
  }
}
@media screen and (max-width: 425px) {
  .getting-started-with {
    font-size: var(--font-size-xl);
  }
  .administrator-dashboard {
    font-size: var(--font-size-base);
  }
  .the-goal-of-container {
    font-size: var(--font-size-xs);
  }
  .this-dashboard-is {
    font-size: var(--font-size-base);
  }
  .this-dashboard-is-only-accesib-wrapper {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .on-the-top-container {
    font-size: var(--font-size-xs);
  }
  .frame-child {
    width: 323px;
  }
  .frame-div,
  .on-the-top-of-the-panel-youll-parent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .create-a-new {
    font-size: var(--font-size-base);
  }
  .add-edit-and-delete-buttons-a-parent,
  .complete-the-user-information-parent,
  .frame-parent2,
  .frame-parent4,
  .this-will-open-the-following-p-parent,
  .you-can-start-the-device-creat-parent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .once-logged-in {
    font-size: var(--font-size-xs);
  }
  .once-logged-in-youll-be-redir-wrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-group {
    padding-left: var(--padding-8xs);
    padding-right: var(--padding-8xs);
    box-sizing: border-box;
  }
  .frame-parent {
    padding: var(--padding-21xl) 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 620px) {
  .administrator-dashboard,
  .getting-started-with {
    font-size: var(--font-size-xl);
  }
}
@media screen and (max-width: 800px) {
  .frame-child7 {
    width: 323px;
    height: 182px;
  }
}
